In [1]:
import pandas as pd

In [2]:
egoistyczne = r'j:\Desktop\Robot_Interaction\selfish_time.csv'
empatyczne  = r'j:\Desktop\Robot_Interaction\empathetic_time.csv'

In [3]:
df1 = pd.read_csv(egoistyczne, header=None)
df2 = pd.read_csv(empatyczne, header=None)

In [4]:
df1

           0
0  18.390915
1  57.704718
2  43.207788
3  47.370801
4  74.335655
5  40.585824
6  40.238818
7  14.969937
8  22.135899
9  31.299869

In [5]:
srednia1 = df1[0].mean()
srednia2 = df2[0].mean()

In [6]:
round(srednia1,2)

39.02

In [7]:
round(srednia2,2)

24.47

In [8]:
from scipy import stats

In [9]:
t_stat, p_value = stats.ttest_ind(df1[0], df2[0], equal_var=False)

print(f"T-statystyka: {t_stat}")
print(f"p-value: {p_value}")

T-statystyka: 1.916904154031534
p-value: 0.07173504711007071

In [10]:
shapiro_test1 = stats.shapiro(df1[0])
shapiro_test2 = stats.shapiro(df2[0])

print("Test Shapiro-Wilka - egoistyczne:", shapiro_test1)
print("Test Shapiro-Wilka - empatyczne:", shapiro_test2)

alpha = 0.05

Test Shapiro-Wilka - egoistyczne: ShapiroResult(statistic=0.9560602633304649, pvalue=0.7401876595269146)
Test Shapiro-Wilka - empatyczne: ShapiroResult(statistic=0.8994706626012497, pvalue=0.21618159374930473)